.Background
    position: absolute
    // background-color: black
    height: 100%
    width: 100%
    display: flex
    overflow: hidden
    .BackgroundImg
        // animation: demonstration 10s linear infinite
        img
            @media #{$media-phones}
                height: 100%
            @media #{$media-small}
                height: 100%
            @media #{$media-normal}
                height: 100%
            animation: zoomer 20s linear infinite
            width: 100%
            position: absolute
            overflow: hidden
            object-fit: cover
            z-index: -1
            transform: scale(1,1);
            
    
       
