.ErrorPage
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    justify-content: center
    background-color: black
    .Error404
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        .TextError
            color: white
            .BigErrorText
                font-size: 65px
            .SmallErrorText
                font-size: 45px
        img
            min-height: 100px
            min-width: 200px
            padding: 25px
    

