.RouteGallery
    height: 100%
    width: 100%
    .Gallery
        height: 100%
        width: 100%
        position: absolute
        align-items: center
        display: flex
        flex-wrap: wrap
        flex-direction: row
        .ViewerContainer
            @media #{$media-small}
                display: flex
                justify-content: center
                align-items: center
                width: 53%
                height: 100%
            @media #{$media-phones}
                display: flex
                justify-content: center
                align-items: center
                max-width: 0
                max-height: 0
                z-index: -20
            display: flex
            flex-direction: row
            height: 100%
            max-width: 54%
            color: white
            font-size: 70px
            padding-left: 10%
            z-index: 100
            .LeftButton
                @media #{$media-small}
                    margin-left: 15px
                @media #{$media-phones}
                    margin-left: 5px
                    width: 0
                width: 5%
                display: flex
                justify-content: center
                align-items: center
                cursor: pointer
                &:hover
                    color: blue
            .Viewer
                display: flex
                position: relative
                justify-content: center
                align-items: center
                width: 80%
                margin: 10px
                img
                    max-width: 100%;
                    max-height: 80vh;
                    box-shadow: 0 0 65px #0F1791
                    pointer-events: none;
            .RightButton
                @media #{$media-phones}
                    margin-right: 5px
                    width: 0
                display: flex
                cursor: pointer
                justify-content: center
                align-items: center
                width: 5%
                &:hover
                    color: blue
        .ImagesGallery
            @media #{$media-small}
                width: 33%
                height: 60%
            @media #{$media-phones}
                height: 80%
                width: 100vw
            margin-right: 20px
            height: 64%
            width: 30%
            z-index: 100
            .ImagesContainer
                @media #{$media-phones}
                    padding-left: 5%
                display: flex
                margin-right: 10px
                flex-direction: row
                flex-wrap: wrap
                align-items: center
                justify-content: center
                align-content: center
                .ImagesItem
                    @media #{$media-phones}
                        width: 85%
                        height: 40%
                    height: 120px
                    width: 170px
                    background-color: black
                    display: flex
                    justify-content: center
                    align-items: center
                    border: solid 1px blue
                    margin: 6px
                    z-index: 600
                    overflow: hidden
                    
                    &:hover
                        @media #{$media-phones}
                            width: 85%
                            box-shadow: none
                            border: solid 1px blue
                            height: 40%
                            margin: 6px
                        cursor: pointer
                        height: 125px
                        width: 175px
                        margin: 0
                        box-shadow: 0 0 15px white
                        border: none
                    &:hover img
                        opacity: 1    
                    img
                        @media #{$media-phones}
                            opacity: 1
                        height: auto
                        max-width: 100%;
                        object-fit: cover
                        z-index: 2
                        opacity: .6
                .isSelect
                    border: solid 2px white
                    img 
                        opacity: 1

                    
                    




    
            
