.Genre
    top: 40vh
    left: 34vw
    z-index: 100
    display: flex
    flex-direction: column
    align-items: center
    justify-items: center
    position: absolute
    width: 500px
    color: white
    font-size: 100px