.Opening
    @media #{$media-small}
        width: 50%
    @media #{$media-phones}
        width: 300px
    z-index: 100
    display: flex
    flex-direction: column
    align-items: center
    justify-items: center
    position: relative
    width: 500px
    .EnterButton
            font-size: 25px
            border-radius: 10%
    .LogoImg
        @media #{$media-phones}
            padding-top: 5px
        z-index: 101
        padding-top: 15px
        img
            @media #{$media-small}
                height: 85px
                width: 70px
            @media #{$media-phones}
                height: 110px
                width: 90px
            height: 160px
            width: 130px
    .BlurSpace
        @media #{$media-phones}
            height: 0
            width: 0
            background-color: none
            padding-top: 10%
        position: absolute
        height: 105%
        width: 110%
        .BlurSpaceBorder
            position: absolute
            height: 100%
            width: 100%
            border-radius: 15%
            opacity: .1
            background-color: blue
        .BlurSpaceOpacity
            position: absolute
            height: 100%
            width: 100%
            border: solid 2px white
            border-radius: 15%
    .IntroductionText
        z-index: 101
        width: 100%
        text-align: center
        color: white
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .FrontText
            @media #{$media-small}
                padding-top: 0
                font-size: 45px
            @media #{$media-phones}
                padding-top: 0
                font-size: 60px
            padding-top: 10px 
            font-size: 60px
        .SubText
            @media #{$media-small}
                padding-top: 10px
                padding-bottom: 10px
                font-size: 15px
            @media #{$media-phones}
                padding-top: 10px
                padding-bottom: 10px
                font-size: 18px
            padding-top: 10px
            padding-bottom: 16px
            font-size: 20px
            opacity: .6
            font-family: "Helvetica", "Arial", sans-serif;



