.Opening
    top: 19vh
    left: 34vw
    z-index: 100
    display: flex
    flex-direction: column
    align-items: center
    justify-items: center
    position: absolute
    width: 500px
    .LogoImg
        z-index: 101
        padding-top: 15px
        img
            height: 160px
            width: 130px
    .BlurSpace
        position: absolute
        height: 105%
        width: 110%
        .BlurSpaceBorder
            position: absolute
            height: 100%
            width: 100%
            border-radius: 15%
            opacity: .1
            background-color: blue
        .BlurSpaceOpacity
            position: absolute
            height: 100%
            width: 100%
            border: solid 2px white
            border-radius: 15%
    .IntroductionText
        z-index: 101
        width: 100%
        text-align: center
        color: white
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .FrontText
            padding-top: 10px 
            font-size: 50px
        .SubText
            padding-top: 10px
            padding-bottom: 16px
            font-size: 18px
            opacity: .6
            font-family: "Helvetica", "Arial", sans-serif;



