.Scroller
    //
    .view
        overflow-x: hidden !important
    .track
        width: 20px
        right: 0
        height: 100%
        transition: all .2s ease
        z-index: 999
    .grab
        right: 0
        opacity: .8
        transition: all .3s ease
        cursor: grab
    .thumb
        opacity: .6
        background-color: blue
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        &:hover
            right: 0
            opacity: .8
            transition: all .2s ease
            cursor: grab
